* {
  font-family: 'Raleway', sans-serif;
}

body {
    background-color: white;
}

#navigation > li {
  display: inline;
  padding: 50px;
  font-size: 20px;
  margin: 40px 10px 10px 40px;
}

a {
  transition: color 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

a:visited {
    color: black;
}

a:active {
    color: black;
}