body {
    background-color: white;
}

#navigation > li {
  display: inline;
  padding: 30px;
  font-size: 20px;
  padding-top: 30px;
}

* {
  font-family: 'Raleway', sans-serif;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}