* {
  font-family: 'Raleway', sans-serif;
}

body {
    background-color: white;
}

#navigation > li {
    display: inline;
    padding: 50px;
    font-size: 20px;

}

a:visited {
    color: black;
}

a:active {
    color: black;
}

a:hover {
  transition: color 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
